.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 0
}

.heador__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 999px;
}

.header__center>input {
    border: none;
    /* width: 250px; */
    outline-width: 0;
    padding: 10px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin-right: 80px;
}